<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" /> 
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />

        <add name="X-Frame-Options" value="ALLOW-FROM https://apps.powerapps.com" />
        <add name="Content-Security-Policy" value="frame-ancestors https://apps.powerapps.com;" />
        
        <add name="Access-Control-Allow-Origin" value="https://apps.powerapps.com" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
